.detailMain {
  background-color: azure;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  z-index: 99;
  color: black;
  padding: 20px;
}

.detailRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  z-index: 99;
  color: black;
  padding: 20px;
}