/* 메인 컨테이너 Right */
.cashContainer {
  display: grid;
  grid-template-columns: repeat(5, 48px);
  grid-template-rows: repeat(6, 48px);
  justify-items: center;
  align-items: center;
  gap: 5px;
  background-color: #f4f4f4; /* 배경색 설정 */
  padding: 5px; /* 패딩 설정 */
  border-radius: 10px; /* 모서리 둥글게 설정 */
}

.cashColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cashSpan {
  font-size: 12px;
  font-weight: bold;
  color: #5B5B5D;
}

/* 아이템 칸 */
.cashSlot {
  width: 48px;
  height: 48px;
  background-color: #e0e0e0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 각 장비 슬롯의 grid 위치 지정 */
.slot-1 { grid-column: 1; grid-row: 1; }
.slot-2 { grid-column: 2; grid-row: 1; }
.slot-3 { grid-column: 3; grid-row: 1; }

.slot-4 { grid-column: 1; grid-row: 2; }
.slot-5 { grid-column: 2; grid-row: 2; }
.slot-6 { grid-column: 3; grid-row: 2; }

.slot-7 { grid-column: 1; grid-row: 3; }
.slot-8 { grid-column: 2; grid-row: 3; }
.slot-9 { grid-column: 3; grid-row: 3; }
.slot-10 { grid-column: 4; grid-row: 3; }

.slot-11 { grid-column: 1; grid-row: 4; }
.slot-12 { grid-column: 2; grid-row: 4; }
.slot-13 { grid-column: 3; grid-row: 4; }
.slot-14 { grid-column: 5; grid-row: 4; }

.slot-15 { grid-column: 3; grid-row: 5; }
.slot-16 { grid-column: 4; grid-row: 5; }
.slot-17 { grid-column: 5; grid-row: 5; }

.slot-18 { grid-column: 3; grid-row: 6; }
