/* 메인 컨테이너 Right */
.equipmentContainer {
  display: grid;
  grid-template-columns: repeat(5, 48px);
  grid-template-rows: repeat(6, 48px);
  justify-items: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  position: relative;
  border-radius: 10px;
}

.equipColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.equipSpan {
  font-size: 12px;
  font-weight: bold;
  color: #5B5B5D;
}

/* 아이템 칸 */
.equipmentSlot {
  width: 48px;
  height: 48px;
  background-color: #e0e0e0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cursor {
  cursor: pointer;
}

.equipPartSpan {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 7px;
  font-weight: bold;
  color: white;
  opacity: 0.5;
  z-index: 0;
}

.statBoxContainer {
  position: absolute; /* 절대 위치 */
  transform: translate(-110%, -20%); /* 박스 크기의 절반만큼 이동시켜 중앙 정렬 */
  z-index: 10; /* 다른 요소 위에 위치하도록 */
}

.legendary {
  border:2px solid rgb(84, 243, 84);
}
.unique {
  border: 3px solid rgb(255, 204, 2);
}
.epic {
  border:2px solid rgb(132, 17, 132);
}
.rare {
  border:2px solid rgb(80, 80, 206);
}

.imageContainer {
  position: relative;
  width: 60%;
  height: 60%;
}

.equipDetailBox {
  width: 280px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: black;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease; /* opacity 변경에 애니메이션 효과 추가 */
}

/* equipmentSlot에 hover 시 equipDetailBox가 나타나도록 설정 */
.equipmentSlot:hover .equipDetailBox {
  opacity: 0.5;
}

/* 각 장비 슬롯의 grid 위치 지정 */
.slot-0 { grid-column: 1; grid-row: 1; background-color: #C3BEB5; }
.slot-1 { grid-column: 3; grid-row: 1; background-color: #CACACA; }
.slot-2 { grid-column: 5; grid-row: 1; background-color: #BAC9CC; }

.slot-3 { grid-column: 1; grid-row: 2; background-color: #C3BEB5; }
.slot-4 { grid-column: 2; grid-row: 2; background-color: #B3C2C6; }
.slot-5 { grid-column: 3; grid-row: 2; background-color: #CACACA; }
.slot-6 { grid-column: 5; grid-row: 2; background-color: #BAC8CC; }

.slot-7 { grid-column: 1; grid-row: 3; background-color: #C3BEB5; }
.slot-8 { grid-column: 2; grid-row: 3; background-color: #B3C2C6; }
.slot-9 { grid-column: 3; grid-row: 3; background-color: #CACACA; }
.slot-10 { grid-column: 4; grid-row: 3; background-color: #CCCCCC; }
.slot-11 { grid-column: 5; grid-row: 3; background-color: #BAC8CC; }

.slot-12 { grid-column: 1; grid-row: 4; background-color: #C3BEB5; }
.slot-13 { grid-column: 2; grid-row: 4; background-color: #ABABAB; }
.slot-14 { grid-column: 3; grid-row: 4; background-color: #CACACA; }
.slot-15 { grid-column: 4; grid-row: 4; background-color: #CCCCCC; }
.slot-16 { grid-column: 5; grid-row: 4; background-color: #ACACAC; }

.slot-17 { grid-column: 1; grid-row: 5; background-color: #BCBCBC; }
.slot-18 { grid-column: 2; grid-row: 5; background-color: #BCBCBC; }
.slot-19 { grid-column: 3; grid-row: 5; background-color: #CACACA; }
.slot-20 { grid-column: 4; grid-row: 5; background-color: #CCCCCC; }
.slot-21 { grid-column: 5; grid-row: 5; background-color: #CCCCCC; }

.slot-22 { grid-column: 3; grid-row: 6; background-color: #CACACA; }
.slot-23 { grid-column: 4; grid-row: 6; background-color: #B4B9BF; }
.slot-24 { grid-column: 5; grid-row: 6; background-color: #B4B9BF; }
