.detailMain {
  width: auto;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.detailContent {
  display: flex;
  gap: 2px;
  align-items: flex-end;
  justify-content: flex-end;
}