.mainDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 557px;
  background-color: #191c1e;
  padding: 10px;
  border-radius: 10px;
}

.mainTitle {
  font-size: 12px;
  font-weight: bold;
  color: #c1df18;
}

.contentDiv {
  display: grid;
  font: bold;
  font-size:smaller;
  color: white;
  font-size: 10px;
  background-color: #6C7886;
  border-radius: 3px;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.presetDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6C7886;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}

.presetButton {
  width: 15px;
  height: 15px;
  padding: 1px;
  font-size: 8px;
  border-radius: 3px;
}

.pointDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3E6076;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}

.remainPoint {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  width: 120px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}