.symbolMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.symbolNav {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: gray;
}

.leftButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: gray;
  color: rgb(203, 200, 200);
  font-size: 10px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

.rightButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: gray;
  color: rgb(203, 200, 200);
  font-size: 10px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.symbolContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 5px;
  background-color: #6466A3;
  width: 200px;
  height: 300px;
  gap: 10px;
}

.authenticToggle {
  margin-right: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 7px;
  cursor: pointer;
  color: black;
}

.authenticToggle span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 10px;
  padding: 1px;
  background-color: white;
  border-radius: 10px;
  &:hover {
    background-color: rgb(123, 219, 88);
    transition: 0.3s ease-in-out;
  }
}

.authenticColor {
  background-color: #2f76c2;
}

.grandAuthenticColor {
  transition: 0.3 ease-in-out;
  background-color: #8d489f;
}

.symbolSubSpan {
  font-size: 10px;
  font-weight: bold;
  color: rgb(163, 161, 161);
}

.symbolSpanDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.symbolMainSpan {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.symbolDivContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.symbolDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border: 3px solid #A5A4C1;
  padding: 5px;
  border-radius: 5px;
  height: 80px;
}

.symbolLevel {
  font-size: 10px;
  font-weight: bold;
  color: rgb(237, 234, 234);
}

.symbolGrowth {
  font-size: 0.4rem;
  font-weight: bold;
  color: rgb(237, 234, 234);
}

.selected {
  background-color: #36B8D0;
  color: white;
}

.authenticSymbolDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: #867feb;
  padding: 7px;
  border-radius: 5px;
  height: 80px;
  clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%, 0% 10%);
}