.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

.mainImage {
  opacity: 0.3;
  width: inherit;
  height: inherit;
  position: absolute;
}

.mainTitle {
  color: rgb(237, 161, 20);
}

.mainForm {
  display: flex;
  gap: 10px;
  z-index: 99;
}

.mainInput {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  border: none;
  background-color: wheat;
  color: black;
  &::placeholder{
    color: gray;
  }
}

.mainButton {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: skyblue;
  color: black;
  cursor: pointer;
}

.mainCharacter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}