.skillMain {
  width: 100%;
  overflow-y: auto;
  max-height: 400px;
}

.skillMain::-webkit-scrollbar {
  width: 6px;
  cursor: grab;
}

.skillMain::-webkit-scrollbar-thumb {
  background-color: #9298A2; /* 스크롤 바 색상 */
  border-radius: 3px;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 */
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr)); /* 최소 높이 50px */
  gap: 5px;
  padding: 20px;
}

.skillBox {
  display: flex;
  align-items: center;
  background-color: #C4CBCE;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #9298A2;
  border-radius: 5px;
}

.imgBox img {
  width: 30px;
  height: 30px;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.skillName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  width: 150px;
  height: 20px;
  border-radius: 20px;
  background-color: #9298A2;
  color: white;
}

.skillLevel {
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
