.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2px;
  background-color: #CED6C7;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  width: auto;
}

.mainForm {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.mainInput {
  width: 150px;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: white;
  color: black;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  &::placeholder{
    color: gray;
    font-weight: bolder;
  }
}

.mainButton {
  width: 50;
  height: 30px;
  padding: 5px;
  border: none;
  background-color: skyblue;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}