.equipMain {
  width: auto;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.equipNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 500px;
  height: auto;
  background-color: #191c1e;
  padding: 10px;
  border-radius: 10px;
}

.equipContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #191c1e;
  padding: 10px;
  border-radius: 10px;
}