.mainDiv{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #191c1e;
  padding: 10px;
  border-radius: 10px;
  gap: 3px;
}

.mainTitle {
  font-size: 12px;
  font-weight: bold;
  color: #c1df18;
}

.gradeDiv {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 2px;
  font-size: 12px;
}

.abilityDiv {
  display: flex;
  flex-direction: column;
  gap:2px;
}

.abilityContent {
  font-size: 10px;
  padding: 5px;
  border-radius: 2px;
}

.presetDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6C7886;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}

.presetButton {
  width: 15px;
  height: 15px;
  padding: 1px;
  font-size: 8px;
  border-radius: 3px;
}

.fameDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3E6076;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}

.remainFame {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  width: 120px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.legendary {
  background-color: #9CBB12;
}

.unique {
  background-color: #E89C09;
}

.epic {
  background-color: #745CC4;
}

.rare {
  background-color: #0096BE;
}
